<div class="cards">
<a
  [routerLink]="[index]"
  routerLinkActive="active"
  class="text-dark"
  (click)="onSelected()">
    <span class="align-items-center">
          <img
            [src]="booking.imagePath"
            alt="{{ booking.place }}"
            class="img-responsive"
            style="height: 113px; width: 164px;">
    </span>
    <div class="pull-left">
      <h4 class="mx-1">{{ booking.place }}</h4>
      <p class="mx-1">{{ booking.date }}</p>
    </div>
</a>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="onBook()"
     >
    book
  </button>
</div>

